<% content_for :header do %>
  <h1 class="text-3xl font-bold tracking-tight text-white">Applications</h1>
  <%= link_to "Back to applications",
  applications_path,
  class:
    "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-black" %>
<% end %>

<%= render "form", application: @application %>
